.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	background-color: #282c34;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}

@keyframes App-logo-spin {
	from {
		transform: rotate(0deg);
	}

	to {
		transform: rotate(360deg);
	}
}

.cart-scroll-overlay {
	max-height: -webkit-fill-available;
	overflow-y: auto;
}

.total-price-box {
	background: linear-gradient(to right, #3ca55c, #4cb67c);
	padding: 10px;
	border-radius: 8px;
}

.total-price-text {
	margin: 0;
	color: #fff;
}

.checkout-button {
	background: linear-gradient(to right, #f16d6d, #fc2839);
	border: none;
	display: flex;
	align-items: center;
	padding: 10px;
	border-radius: 8px;
}

.checkout-text {
	color: #fff;
	margin-right: 10px;
}

.checkout-icon {
	color: #fff;
}

.login-container,
.signup-continer {
	background-color: #f4f4f4;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-label {
	color: #333;
}

.btn-success {
	background-color: #4caf50;
	border: none;
}

.btn-success:hover {
	background-color: #45a049;
}

.btn-danger {
	background-color: #f44336;
	border: none;
}

.new-user:hover {
	background-color: #d32f2f;
}

.border-success {
	border-color: #4caf50;
}

.bg-success {
	background-color: #4caf50;
}

.bg-light {
	background-color: #fff;
}

.dflexalign {
	display: flex;
	align-items: center;
	justify-content: space-around;
	
}